@font-face {
  font-family: 'FontAwesome';
  src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font-awesome/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../font-awesome/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 9em 0;
	}