@charset "UTF-8";
@import url("font-awesome.css");
@import url("http://fonts.googleapis.com/css?family=Roboto:500,300");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("../fonts/cooperhewitt-heavy-webfont.woff");
@import url("../fonts/cooperhewitt-book-webfont.woff");
@import url("../fonts/cooperhewitt-bold-webfont.woff");
@import url("../fonts/Jaapokki-Regular.otf")

@font-face {
  font-family: 'FontAwesome';
  src: url('../font-awesome/fonts/fontawesome-webfont.eot');
  src: url('../font-awesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
    url('../font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('../font-awesome/fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittbold';
    src: url('cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittbook';
    src: url('cooperhewitt-book-webfont.woff2') format('woff2'),
         url('cooperhewitt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ------------------
BANNER
-------------------- */

	#banner {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		color: #d8d8d8;
		text-align: center;
		position: relative;
		background-attachment: fixed;
		margin-top: 0;
    padding: 4em 0;
  }
	#banner:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.5);
	}

	#banner .inner {
		position: relative;
		z-index: 1;
	}

	#banner .inner :last-child {
		margin-bottom: 0;
	}

	#banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
		color: black;
	}

	#banner .button.alt {
		box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.75);
		color: #ffffff !important;
	}

	#banner .button.alt:hover {
		background-color: rgba(144, 144, 144, 0.275);
	}

	#banner .button.alt:active {
		background-color: rgba(144, 144, 144, 0.4);
	}

	#banner .button.alt.icon:before {
		color: #c1c1c1;
	}

	#banner .button {
		min-width: 12em;
	}

	#banner h2,
	#two h2 {
		font-size: 2.4em;
		line-height: 1.5em;
		margin: 0 0 0.5em 0;
		padding: 1rem 0 1rem;
		font-weight: 700;
		letter-spacing: 0px;
	}

	#banner p {
		font-size: 1.5em;
		margin-top: .75em;
		color: black;
		margin-left: 35%;
	}

	#banner p a {
		color: #ffffff;
		text-decoration: none;
	}

  @media (max-width: 768px) {
    #banner {
      padding: 3em 0;
    }
    #banner .logo-overlay-banner img {
      width: 30%;
    }
  }

/* LOGO OVERLAY BANNER */

  .logo-overlay-banner img {
      width: 15%;
      margin-left: 35%;
  }

/* OPENING BANNER */

  #opening-banner {
    background-color: #eee;
  }
  #opening-banner h2 {
    margin-bottom: 0;
    letter-spacing: 0;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
    border-top: 1px solid #e7e7e7;
  }

/* HOMEPAGE */

  #inner {
  	padding:0 15rem;
  }
  #two {
  	margin: 4em 0 0;
  }
  #three {
    background-color: #eee;
    padding: 5em 10em;
    border-top: 1px solid #e7e7e7;
    border-bottom: solid 1px rgba(144, 144, 144, 0.15);
  }
  #three p {
    margin: 0;
  }
  #four {
    padding: 3em 0em;
  }
  #four .inner-text {
    padding: 2em 4em;
  }
  #four .inner-text.how p,
  #four .inner-text.how h1 {
    display: inline;
  }
  #four .inner-text.how {
    padding: 0;
  }


  @media (min-width: 768px) {
    .offset-left {
      margin-left: 4em;
    }
  }
  @media (max-width: 768px) {
    #four .inner-text {
      padding: 1em;
    }
    #three {
      padding: 5em 1em;
    }
  }
  @media (min-width: 1200px) {
    .inner-text.hero {
      padding-left: 5em;
      margin-left: 2em;
      margin-top: 2em;
    }
  }

/* Footer */

	#footer {
		background: #eee;
		padding: 3em !important;
	}

	#footer a {
		color: inherit;
		text-decoration: none;
		font-size:18px;
	}
	#footer .icons a {
		color: black;
	}
	#footer .icons a:hover {
 		 	color: #BE382B;
	}

	#footer h3 {
		font-size:14px;
	}

	#footer .copyright,
	#two .copyright {
		color: #bbb;
		font-size: 0.7em;
		margin: 2em 0 0 0;
		padding: 0;
		text-align: center;
	}

	#footer .copyright li,
	#two .copyright li {
		border-left: solid 1px rgba(144, 144, 144, 0.25);
		display: inline-block;
		list-style: none;
		margin-left: 1.5em;
		padding-left: 1.5em;
	}

	#footer .copyright li:first-child,
	#two .copyright li:first-child {
		border-left: 0;
		margin-left: 0;
		padding-left: 0;
	}

  .center-footer {
  	text-align:center;
  }
  .left-footer h2 {
  	font-size: 1.5em;
      font-weight: 600;
  }

  ul.new-footer {
      list-style: none;
      color: black;
      margin-left: 0;
      padding-left: 0;
  }
  .right-footer {
  	text-align: center;
  }

/* LIST */
  ul.icons {
  	cursor: default;
  	list-style: none;
  	padding-left: 0;
  }

  ul.icons li {
  	display: inline-block;
  	padding: 0 1.25em 0 0;
  }

  ul.icons li:last-child {
  	padding-right: 0;
  }

  ul.icons li .icon:before {
  	font-size: 1.5em;
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

/* MEDIUM ICON EFFECTS -- B/C REQUIRES FONT-AWESOME PAID UPGRADE */
  .medium-icon {
      background: url(../images/mediumicon.png) no-repeat;
      width: 25px;
      height: auto;
      background-size: 25px auto;
      padding-top:3px;
  }
  .medium-icon:hover {
  	background: url("../images/mediumiconhover.png") no-repeat;
      background-size: 25px auto;
  }

/* SOCIAL SHARING ICONS CTA */
  .medium-icon.icon-wide {
      padding-left: 40px;
      background-size: 30px auto;
      padding-top: 7px;
  }
  .medium-icon.icon-wide:hover {
      background: url(../images/mediumicon.png) no-repeat;
      background-size: 30px auto;
  }
  .fa-fw {
      width: 1.28571429em;
      text-align: center;
      font-size: 1.6em;
      color: black;
  }
  .new-footer {
      font-size: 1.2em;
      line-height: 1.5em;
  }

/* ACCORDION FAQ */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#integration-list {
    width: 80%;
    margin: 0 auto;
    display: table;
}
#integration-list ul {
    padding: 0;
    margin: 20px 0;
    color: #555;
}
#integration-list ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display: block;
    padding: 15px;
    overflow: hidden;
}
#integration-list ul:last-child {
    border-bottom: 1px solid #ddd;
}
#integration-list ul > li:hover {
    background: #efefef;
}
.expand {
    display: block;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}
#integration-list h2 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    padding-top: 10px;
}
#integration-list span {
    font-size: 12.5px;
}
#left,#right{
    display: table;
}
#sup{
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}
#integration-list a:hover {
  text-decoration: none;
}
.detail a {
    text-decoration: none;
    color: #C0392B;
    border: 1px solid #C0392B;
    padding: 6px 10px 5px;
    font-size: 14px;
}
.detail {
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
    height: 150px;
}
.detail span{
    margin: 0;
}
.right-arrow {
    margin-top: 12px;
    margin-left: 20px;
    width: 10px;
    height: 100%;
    float: right;
    font-weight: bold;
    font-size: 20px;
}
#integration-list .icon {
    height: 75px;
    width: 75px;
    float: left;
    margin: 0 15px 0 0;
}

/* GALLERY */
#new-era {
  background-color: #eee;
  padding: 3em;
  border-top: 1px solid #e7e7e7;
  border-bottom: solid 1px rgba(144, 144, 144, 0.15);
}
